 .AppBody {
   margin-top: 9%;
 }

 .App {
   text-align: center;
 }

 .App,html {
   background-image: url('./assets/images/backgroundImage.jpg');
   background-size: cover;
   background-attachment: fixed;
 }

 html {
   overflow-x: hidden;
 }

